<a href="https://colab.research.google.com/github/fatinnadzirah21/List-of-SQL-Query/blob/main/Airbnb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
airbnb = pd.read_csv("/content/drive/MyDrive/Datasets/Airbnb_NYC_2019_DATA_WRANGLING_3 - Airbnb NYC 2019.csv")
airbnb

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ID,Airbnb Name,Host ID,Host Name,Neighbourhood Group,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Number of Reviews,Last Review,Reviews per Month,Calculated Host Listings Count,Availability in A Year,Clean
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private,149,1,9,2018-10-19,0.21,6,365,1
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire,225,1,45,2019-05-21,0.38,2,355,0
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private,150,3,0,No reviews,0.00,1,365,0
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire,89,1,270,2019-07-05,4.64,1,194,0
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire,80,10,9,2018-11-19,0.10,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private,70,2,0,No reviews,0.00,2,9,0
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private,40,4,0,No reviews,0.00,2,36,0
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire,115,10,0,No reviews,0.00,1,27,0
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared,55,1,0,No reviews,0.00,6,2,0
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private,90,7,0,No reviews,0.00,1,23,0

In [5]:
airbnb.isna().sum()

ID                                0
Airbnb Name                       0
Host ID                           0
Host Name                         0
Neighbourhood Group               0
Neighbourhood                     0
Latitude                          0
Longitude                         0
Room Type                         0
Price                             0
Minimum Nights                    0
Number of Reviews                 0
Last Review                       0
Reviews per Month                 0
Calculated Host Listings Count    0
Availability in A Year            0
Clean                             0
dtype: int64

In [4]:
airbnb['Airbnb Name'].fillna("NA", inplace=True)

In [7]:
airbnb_brooklyn = airbnb[airbnb['Neighbourhood Group'] == 'Brooklyn']
airbnb_brooklyn

,ID,Airbnb Name,Host ID,Host Name,Neighbourhood Group,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Number of Reviews,Last Review,Reviews per Month,Calculated Host Listings Count,Availability in A Year,Clean
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private,149,1,9,2018-10-19,0.21,6,365,1
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire,89,1,270,2019-07-05,4.64,1,194,0
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private,60,45,49,2017-10-05,0.40,1,0,0
12,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private,89,4,167,2019-06-24,1.34,3,314,0
15,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire,140,2,148,2019-06-29,1.20,1,46,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48882,36482231,Bushwick _ Myrtle-Wyckoff,66058896,Luisa,Brooklyn,Bushwick,40.69652,-73.91079,Private,40,20,0,No reviews,0.00,1,31,0
48884,36482783,Brooklyn Oasis in the heart of Williamsburg,274307600,Jonathan,Brooklyn,Williamsburg,40.71790,-73.96238,Private,190,7,0,No reviews,0.00,1,341,0
48887,36483152,Garden Jewel Apartment in Williamsburg New York,208514239,Melki,Brooklyn,Williamsburg,40.71232,-73.94220,Entire,170,1,0,No reviews,0.00,3,365,0
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private,70,2,0,No reviews,0.00,2,9,0
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private,40,4,0,No reviews,0.00,2,36,0

In [9]:
from google.colab import files
airbnb_brooklyn.to_csv("submission.csv", index=True) 
files.download("submission.csv")